<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>KFAC</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/default.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/account.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/default.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/account.js"></script>
        <script>
            $(document).ready(function(){
                if(window.innerHeight==400)
                    window.resizeBy(0,-100);
            });
        </script>
    </head>
    <body>
        <div id="find-password-finish">
            <div id="title">
                <div class="plus"></div>
                <p id="title-text">회원아이디 / 패스워드 찾기 결과<p>
                <div id="title-img"></div>
            </div>
            <div id="result">
                <div id="content">
                    <p class="sub_title">회원아이디</p>
                    <p>{{ user_id }}</p>
                    <p class="sub_title">부여된 패스워드</p>
                    <p>{{ given_password }}</p>
                    <p class="full">새로 부여된 패스워드는 로그인 후 변경해 주십시오.</p>
                </div>
            </div>
            <img id="close" src="{{ MEDIA_URL }}image/account/btn_close.gif" onclick="window.close();">
        </div>
    </body>
</html>
