<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>KFAC</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/default.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/account.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/default.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/account.js"></script>
    </head>
    <body>
        <div id="passwd-lost-window">
            <div id="title">
                <div class="plus"></div>
                <p id="title-text">회원아이디 / 패스워드 찾기<p>
                <div id="title-img"></div>
            </div>
            <form action="/account/id_password_lost/" method='POST'>
                {% csrf_token %}
                <div id="find-password">
                    <div id="content">
                        <div class="icon"></div>
                        <div id="title-img"></div>
                        <p id="id">회원아이디</p>
                        <input name="id" type="text" onblur="var temp=$('#find-id input'); temp[0].readOnly=temp[1].readOnly=this.value.length>0;">
                    </div>
                </div>
                <div id="find-id">
                    <div id="content">
                        <div class="icon"></div>
                        <div id="title-img"></div>
                        <p id="name">이름</p>
                        <input name="name" type="text">
                        <p id="name">E-mail</p>
                        <input name="email" type="email">
                    </div>
                </div>
                <img id="next" src="{{ MEDIA_URL }}image/account/btn_next_01.gif" onclick="find_password();">
                <img id="close" src="{{ MEDIA_URL }}image/account/btn_close.gif" onclick="window.close();">
            </form>
        </div>
    </body>
</html>
