<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>KFAC</title>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/default.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/account.css" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/default.js"></script>
    </head>
    <body>
        <div id="login-window">
            <div id="line"></div>
            <img id="login-image" src="{{MEDIA_URL}}image/account/login_image.gif">
            <div id="login-input">
                <form action="/account/login/" method='POST'>
                    {% csrf_token %}
                    <table width="350" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="250">
                                <table width="250" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="10"><img src="{{MEDIA_URL}}image/account/icon.gif" width="3" height="3"></td>
                                        <td width="90" height="26"><b>아이디</b></td>
                                        <td width="150"><INPUT class=box1 maxLength=20 size=15 name=mb_id itemname="아이디" required minlength="2"></td>
                                    </tr>
                                    <tr>
                                        <td><img src="{{MEDIA_URL}}image/account/icon.gif" width="3" height="3"></td>
                                        <td height="26"><b>패스워드</b></td>
                                        <td><INPUT type=password class=box1 maxLength=20 size=15 name=mb_password itemname="패스워드" required></td>
                                    </tr>
                                    <tr>
                                        <td><img src="{{MEDIA_URL}}image/account/icon.gif" width="3" height="3"></td>
                                        <td height="26"><b>자동로그인</b></td>
                                        <td><INPUT onclick="if (this.checked) { if (confirm('자동로그인을 사용하시면 다음부터 회원아이디와 패스워드를 입력하실 필요가 없습니다.\n\n\공공장소에서는 개인정보가 유출될 수 있으니 사용을 자제하여 주십시오.\n\n자동로그인을 사용하시겠습니까?')) { this.checked = true; } else { this.checked = false;} }" type=checkbox name=auto_login><b>사용</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="100" valign="top"><INPUT type=image width="65" height="52" src="{{MEDIA_URL}}image/account/btn_login.gif" border=0></td>
                        </tr>
                        <tr>
                            <td height="5" colspan="2"></td>
                        </tr>
                        <tr>
                            <td height="1" background="{{MEDIA_URL}}image/account/dot_line.gif" colspan="2"></td>
                        </tr>
                        <tr>
                            <td height="5" colspan="2"></td>
                        </tr>
                        <tr>
                            <td height="26" colspan="2"><img src="{{MEDIA_URL}}image/account/icon.gif" width="3" height="3"> 아직 회원이 아니십니까?&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" onclick="newWindow('/account/join/',765,500);"><img width="72" height="20" src="{{MEDIA_URL}}image/account/btn_register.gif" border=0 align="absmiddle"></a></td>
                        </tr>
                        <tr>
                            <td height="26" colspan="2"><img src="{{MEDIA_URL}}image/account/icon.gif" width="3" height="3"> 아이디/패스워드를 잊으셨습니까?&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" onclick="newWindow('/account/id_password_lost/',300,300);"><img src="{{MEDIA_URL}}image/account/btn_password_forget.gif" width="108" height="20" border=0 align="absmiddle"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
