@charset "utf-8";

#login-window
{
    width:668px;
    height:294px;
    padding-top:26px;
}

#line
{
    width:628px;
    height:2px;
    background:#8F8F8F;
    margin:0px 20px;
}

#login-image
{
    width:344px;
    height:48px;
    float:right;
    margin-right:20px;
}

#login-input
{
    float:left;
    width:100%;
}

#login-input form
{
    width:350px;
    padding:41px 0px;
    height:141px;
    margin:auto;
}

#login-input form b
{
    font-size:9pt;
}

#login-input form td
{
    font-size:9pt;
}

#join-window
{
    width:750px;
    height:825px;
}

#join-window textarea
{
    border: 1px solid #CCCCCC;
    resize:none;
}

#join-window label, #join-window b, #join-window textarea
{
    font-size:9pt;
}

#join-window input[type=image]
{
    margin:auto;
}

#join-form
{
    width:750px;
    margin:auto;
}

#join-form #text-signup
{
    float:left;
    width:155px;
    height:44px;
    margin-right:595px;
    margin-bottom:10px;
}

#join-form .box_component
{
    float:left;
    width:740px;
}

#join-form .box_top_corner
{
    float:left;
    width:20px;
    height:30px;
}

#join-form .box_top
{
    float:left;
    width:700px;
    height:30px;
    background-image:url('/media/image/account/join_box_topbg.gif');
}

#join-form .box_left
{
    float:left;
    width:20px;
    height:900px;
    background-image:url('/media/image/account/join_box_lbg.gif');
}

#join-form .box_right
{
    float:left;
    width:20px;
    height:900px;
    background-image:url('/media/image/account/join_box_rbg.gif');
}

#join-form .box_bottom_corner
{
    float:left;
    width:20px;
    height:58px;
}

#join-form .box_bottom
{
    float:left;
    width:700px;
    height:58px;
    background-image:url('/media/image/account/join_box_btmbg.gif');
}

#join-form #submit-button
{
    margin-left:295px;
    width:110px;
    height:27px;
    cursor:pointer;
}

#join-form .box_content
{
    float:left;
    width:700px;
    height:900px;
}

#join-form #join-box-title
{
    float:left;
    width:188px;
    height:30px;
}

#join-form .ed
{
    float:left;
    height:16px;
    width:116px;
    margin:2px;
    padding:1px;
}

#join-form input
{
    float:left;
    border:1px solid #CCCCCC;
}

#join-form .m_row td
{
    border-bottom:1px solid #CCCCCC;
    padding:10px 0px;
}

#join-form .m_title
{
    font-size:9pt;
    width:100px;
    text-align:center;
    padding-right:15px!important;
}

#join-form #msg_mb_id
{
    float:left;
    line-height:24px;
    margin-left:10px;
    width:350px;
    height:33px;
}

#join-form #msg_mb_passwd
{
    float:left;
    line-height:24px;
    margin-left:10px;
    width:350px;
}

#join-form #msg_mb_name
{
    float:left;
    line-height:24px;
    margin-left:10px;
}

#join-form #msg_mb_nick
{
    float:left;
    line-height:24px;
    margin-left:10px;
}

#join-form input[type=email]
{
    width:200px;
}

#join-form p
{
    float:left;
    font-size:9pt;
}

div.ui-datepicker
{
    font-size:9pt;
}

.ui-datepicker select.ui-datepicker-month
{
    float:right;
    width:40%;
}
.ui-datepicker select.ui-datepicker-year
{
    float:left;
    width:40%;
}

#join-form #profile_textarea
{
    height:150px;
    width:500px;
    resize:none;
    border:1px solid #CCCCCC;
}

#join-form input[type=checkbox]
{
    margin-right:7px;
}

#join-form .checkbox_text
{
    line-height:19px;
}

#join-form #mb_birth
{
    margin-right:10px;
}

#join-form select
{
    border:1px solid #CCCCCC;
}

#join-success
{
    width:750px;
    margin:auto;
}

#join-success #text-signup
{
    float:left;
    width:155px;
    height:44px;
    margin-right:595px;
    margin-bottom:10px;
}

#join-success .box_component
{
    float:left;
    width:740px;
}

#join-success .box_top_corner
{
    float:left;
    width:20px;
    height:30px;
}

#join-success .box_top
{
    float:left;
    width:700px;
    height:30px;
    background-image:url('/media/image/account/join_box_topbg.gif');
}

#join-success .box_left
{
    float:left;
    width:20px;
    height:170px;
    background-image:url('/media/image/account/join_box_lbg.gif');
}

#join-success .box_right
{
    float:left;
    width:20px;
    height:170px;
    background-image:url('/media/image/account/join_box_rbg.gif');
}

#join-success .box_bottom_corner
{
    float:left;
    width:20px;
    height:58px;
}

#join-success .box_bottom
{
    float:left;
    width:700px;
    height:58px;
    background-image:url('/media/image/account/join_box_btmbg.gif');
}

#join-success .box_content
{
    float:left;
    width:700px;
    height:170px;
}

#join-success pre
{
    margin:20px;
    font-size:9pt;
    line-height:26px;
}

#join-success b
{
    font-size:9pt;
    line-height:26px;
}

#join-success #close-button
{
    margin:10px 295px;
    width:110px;
    height:27px;
    cursor:pointer;
}

#mypage
{
    float:left;
    margin-left:41px;
    width:750px;
}

#mypage #mypage-title
{
    float:left;
    margin-top:50px;
}

#mypage #mypage-subtitle
{
    float:left;
    margin:0px;
    margin-top:20px;
    width:83px;
    height:27px;
    background-image:url('/media/image/account/tab1_1.gif');
}

#mypage #mypage-table
{
    margin-top:-10px;
}

#mypage .m_row td
{
    font-size:9pt;
    padding:10px 0px;
}

#mypage .m_title
{
    background:#F7F7F7;
    text-align:center;
}

#mypage .readonly
{
    margin-left:10px;
}

#mypage input, #mypage select
{
    margin-left:10px;
    border:1px solid #CCCCCC;
}

#mypage #question
{
    margin-right:200px;
}

#mypage textarea
{
    margin-left:10px;
    width:530px;
    height:200px;
    border:1px solid #CCCCCC;
    resize:none;
}

#mypage .m_text
{
    width:122px;
    height:18px;
    border:1px solid #CCCCCC;
}

#mypage #reg_mb_nick
{
    margin-right:10px;
}

#mypage .permit_text
{
    float:left;
    line-height:19px;
    margin-left:5px;
}

#mypage input[type=checkbox]
{
    float:left;
}

#mypage #change-info
{
    margin:auto;
    margin:10px 0px 20px 336px;
    cursor:pointer;
}

.plus
{
    float:left;
    width:25px;
    height:40px;
    background-image:url('/media/image/account/icon_01.gif');
    background-repeat:no-repeat;
    background-position:center;
}

#passwd-lost-window
{
    width:600px;
    margin:auto;
}

#passwd-lost-window #title
{
    width:590px;
    height:40px;
    border:5px solid #EBEBEB;
}

#passwd-lost-window #title-text
{
    float:left;
    font-size:9pt;
    line-height:40px;
    width:175px;
    font-weight:bold;
    color:#666666;
}

#passwd-lost-window #title-img
{
    float:right;
    width:110px;
    height:40px;
    background-image:url('/media/image/account/step_01.gif');
    background-repeat:no-repeat;
    background-position:right;
}

#passwd-lost-window #find-password
{
    float:left;
    width:540px;
    height:115px;
    background-image:url('/media/image/account/dot_bg_img.gif');
    margin:30px;
}

#passwd-lost-window #find-password #content
{
    margin:auto;
    width:315px;
    height:68px;
    margin-top:23px;
}

#passwd-lost-window .icon 
{
    float:left;
    width:15px;
    height:40px;
    background-image:url('/media/image/account/icon_02.gif');
    background-repeat:no-repeat;
    background-position:center left;
}

#passwd-lost-window #find-password #title-img
{
    float:left;
    width:300px;
    height:40px;
    background-image:url('/media/image/account/text_title_01.gif');
    background-repeat:no-repeat;
    background-position:center left;
}

#passwd-lost-window #find-password #id
{
    float:left;
    width:100px;
    line-height:28px;
    font-weight:bold;
    font-size:9pt;
    margin-left:15px;
}

#passwd-lost-window #find-password input
{
    width:110px;
    height:16px;
    font-size:9pt;
    margin:3px 0px;
    border:1px solid gray;
    padding:2px;
}

#passwd-lost-window #find-id
{
    float:left;
    width:540px;
    height:170px;
    background-image:url('/media/image/account/gray_bg_img.gif');
    margin:30px;
    margin-top:0px;
}

#passwd-lost-window #find-id #content
{
    margin:auto;
    width:315px;
    height:68px;
    margin-top:37px;
}

#passwd-lost-window #find-id #title-img
{
    float:left;
    width:300px;
    height:40px;
    background-image:url('/media/image/account/text_title_02.gif');
    background-repeat:no-repeat;
    background-position:center left;
}

#passwd-lost-window #find-id #name
{
    float:left;
    width:100px;
    line-height:28px;
    font-weight:bold;
    font-size:9pt;
    margin-left:15px;
}

#passwd-lost-window #find-id input
{
    width:110px;
    height:16px;
    font-size:9pt;
    margin:3px 0px;
    border:1px solid gray;
    padding:2px;
}

#passwd-lost-window #find-id input[type=email]
{
    width:170px;
}

#passwd-lost-window #next
{
    margin-left:250px;
    cursor:pointer;
}

#passwd-lost-window #close
{
    margin-left:12px;
    cursor:pointer;
}

#find-password
{
    width:600px;
    margin:auto;
}

#find-password #title
{
    width:590px;
    height:40px;
    border:5px solid #EBEBEB;
}

#find-password #title-text
{
    float:left;
    font-size:9pt;
    line-height:40px;
    width:175px;
    font-weight:bold;
    color:#666666;
}

#find-password #title-img
{
    float:right;
    width:110px;
    height:40px;
    background-image:url('/media/image/account/step_02.gif');
    background-repeat:no-repeat;
    background-position:right;
}

#find-password #question
{
    float:left;
    width:600px;
    height:300px;
    background-image:url('/media/image/account/dot_bg_img_01.gif');
    background-repeat:no-repeat;
}

#find-password #question #content
{
    margin:auto;
    width:400px;
    height:200px;
    margin-top:50px;
}

#find-password #question p
{
    padding-left:15px;
    font-size:9pt;
    line-height:40px;
}

#find-password #question .sub_title
{
    font-weight:bold;
    background-image:url('/media/image/account/icon_02.gif');
    background-repeat:no-repeat;
    background-position:center left;
}

#find-password #question .question
{
    margin-top:-10px;
    margin-bottom:10px;
}

#find-password #question input
{
    margin-left:15px;
    font-size:9pt;
    width:300px;
}

#find-password #next
{
    margin-left:250px;
    cursor:pointer;
}

#find-password #close
{
    margin-left:12px;
    cursor:pointer;
}

#find-password-finish
{
    width:600px;
    margin:auto;
}

#find-password-finish #title
{
    width:590px;
    height:40px;
    border:5px solid #EBEBEB;
}

#find-password-finish #title-text
{
    float:left;
    font-size:9pt;
    line-height:40px;
    width:200px;
    font-weight:bold;
    color:#666666;
}

#find-password-finish #title-img
{
    float:right;
    width:110px;
    height:40px;
    background-repeat:no-repeat;
    background-position:right;
}

#find-password-finish #result
{
    float:left;
    width:600px;
    height:200px;
    background-image:url('/media/image/account/dot_bg_img_02.gif');
    background-repeat:no-repeat;
}

#find-password-finish #result #content
{
    margin:auto;
    width:400px;
    height:200px;
    margin-top:40px;
}

#find-password-finish #result p
{
    float:left;
    padding-left:15px;
    font-size:9pt;
    line-height:40px;
    width:253px;
}

#find-password-finish #result .sub_title
{
    float:left;
    font-weight:bold;
    background-image:url('/media/image/account/icon_02.gif');
    background-repeat:no-repeat;
    background-position:center left;
    width:117px;
}

#find-password-finish #result .full
{
    width:400px;
}

#find-password-finish #close
{
    margin-left:276px;
    cursor:pointer;
}
