@charset "utf-8";

#login-window
{
    width:668px;
    height:294px;
    padding-top:26px;
}

#line
{
    width:628px;
    height:2px;
    background:#8F8F8F;
    margin:0px 20px;
}

#login-image
{
    width:344px;
    height:48px;
    float:right;
    margin-right:20px;
}

#login-input
{
    float:left;
    width:100%;
}

#login-input form
{
    width:350px;
    padding:41px 0px;
    height:141px;
    margin:auto;
}

#login-input form b
{
    font-size:9pt;
}

#login-input form td
{
    font-size:9pt;
}

#join-window
{
    width:750px;
    height:825px;
}

#join-window textarea
{
    border: 1px solid #CCCCCC;
    resize:none;
}

#join-window label, #join-window b, #join-window textarea
{
    font-size:9pt;
}

#join-window input[type=image]
{
    margin:auto;
}

#join-form
{
    width:750px;
    margin:auto;
}

#join-form #text-signup
{
    float:left;
    width:155px;
    height:44px;
    margin-right:595px;
    margin-bottom:10px;
}

#join-form .box_component
{
    float:left;
    width:740px;
}

#join-form .box_top_corner
{
    float:left;
    width:20px;
    height:30px;
}

#join-form .box_top
{
    float:left;
    width:700px;
    height:30px;
    background-image:url('/media/image/account/join_box_topbg.gif');
}

#join-form .box_left
{
    float:left;
    width:20px;
    height:900px;
    background-image:url('/media/image/account/join_box_lbg.gif');
}

#join-form .box_right
{
    float:left;
    width:20px;
    height:900px;
    background-image:url('/media/image/account/join_box_rbg.gif');
}

#join-form .box_bottom_corner
{
    float:left;
    width:20px;
    height:58px;
}

#join-form .box_bottom
{
    float:left;
    width:700px;
    height:58px;
    background-image:url('/media/image/account/join_box_btmbg.gif');
}

#join-form #submit-button
{
    margin-left:295px;
    width:110px;
    height:27px;
    cursor:pointer;
}

#join-form .box_content
{
    float:left;
    width:700px;
    height:900px;
}

#join-form #join-box-title
{
    float:left;
    width:188px;
    height:30px;
}

#join-form .ed
{
    float:left;
    height:16px;
    width:116px;
    margin:2px;
    padding:1px;
}

#join-form input
{
    float:left;
    border:1px solid #CCCCCC;
}

#join-form .m_row td
{
    border-bottom:1px solid #CCCCCC;
    padding:10px 0px;
}

#join-form .m_title
{
    font-size:9pt;
    width:100px;
    text-align:center;
    padding-right:15px!important;
}

#join-form #msg_mb_id
{
    float:left;
    line-height:24px;
    margin-left:10px;
    width:350px;
    height:33px;
}

#join-form #msg_mb_passwd
{
    float:left;
    line-height:24px;
    margin-left:10px;
    width:350px;
}

#join-form #msg_mb_name
{
    float:left;
    line-height:24px;
    margin-left:10px;
}

#join-form #msg_mb_nick
{
    float:left;
    line-height:24px;
    margin-left:10px;
}

#join-form input[type=email]
{
    width:200px;
}

#join-form p
{
    float:left;
    font-size:9pt;
}

div.ui-datepicker
{
    font-size:9pt;
}

.ui-datepicker select.ui-datepicker-month
{
    float:right;
    width:40%;
}
.ui-datepicker select.ui-datepicker-year
{
    float:left;
    width:40%;
}

#join-form #profile_textarea
{
    height:150px;
    width:500px;
    resize:none;
    border:1px solid #CCCCCC;
}

#join-form input[type=checkbox]
{
    margin-right:7px;
}

#join-form .checkbox_text
{
    line-height:19px;
}

#join-form #mb_birth
{
    margin-right:10px;
}

#join-form select
{
    border:1px solid #CCCCCC;
}

#join-success
{
    width:750px;
    margin:auto;
}

#join-success #text-signup
{
    float:left;
    width:155px;
    height:44px;
    margin-right:595px;
    margin-bottom:10px;
}

#join-success .box_component
{
    float:left;
    width:740px;
}

#join-success .box_top_corner
{
    float:left;
    width:20px;
    height:30px;
}

#join-success .box_top
{
    float:left;
    width:700px;
    height:30px;
    background-image:url('/media/image/account/join_box_topbg.gif');
}

#join-success .box_left
{
    float:left;
    width:20px;
    height:170px;
    background-image:url('/media/image/account/join_box_lbg.gif');
}

#join-success .box_right
{
    float:left;
    width:20px;
    height:170px;
    background-image:url('/media/image/account/join_box_rbg.gif');
}

#join-success .box_bottom_corner
{
    float:left;
    width:20px;
    height:58px;
}

#join-success .box_bottom
{
    float:left;
    width:700px;
    height:58px;
    background-image:url('/media/image/account/join_box_btmbg.gif');
}

#join-success .box_content
{
    float:left;
    width:700px;
    height:170px;
}

#join-success pre
{
    margin:20px;
    font-size:9pt;
    line-height:26px;
}

#join-success b
{
    font-size:9pt;
    line-height:26px;
}

#join-success #close-button
{
    margin:10px 295px;
    width:110px;
    height:27px;
    cursor:pointer;
}

#mypage
{
    float:left;
    margin-left:41px;
    width:750px;
}

#mypage #mypage-title
{
    float:left;
    margin-top:50px;
}

#mypage #mypage-subtitle
{
    float:left;
    margin:0px;
    margin-top:20px;
    width:83px;
    height:27px;
    background-image:url('/media/image/account/tab1_1.gif');
}

#mypage #mypage-table
{
    margin-top:-10px;
}

#mypage .m_row td
{
    font-size:9pt;
    padding:10px 0px;
}

#mypage .m_title
{
    background:#F7F7F7;
    text-align:center;
}

#mypage .readonly
{
    margin-left:10px;
}

#mypage input, #mypage select
{
    margin-left:10px;
    border:1px solid #CCCCCC;
}

#mypage #question
{
    margin-right:200px;
}

#mypage textarea
{
    margin-left:10px;
    width:530px;
    height:200px;
    border:1px solid #CCCCCC;
    resize:none;
}

#mypage .m_text
{
    width:122px;
    height:18px;
    border:1px solid #CCCCCC;
}

#mypage #reg_mb_nick
{
    margin-right:10px;
}

#mypage .permit_text
{
    float:left;
    line-height:19px;
    margin-left:5px;
}

#mypage input[type=checkbox]
{
    float:left;
}

#mypage #change-info
{
    margin:auto;
    margin:10px 0px 20px 336px;
    cursor:pointer;
}
