@charset "utf-8";
#header
{
    float:left;
    width:233px;
    background-image:url('/media/image/layout/header.gif');
    padding-bottom:100px;
}

#header #logo
{
    float:left;
    width:233px;
    height:131px;
    margin-bottom:50px;
}

#header .menu
{
    font-family:Arial;
    float:left;
    font-weight:bold;
    width:233px;
    color:#505050;
}

#haeder .submenu
{
}
