@charset "utf-8";

.people
{
    margin-left:53px;
}

#people_content
{
    margin-left:41px;
}

.people_image
{
    margin-right:4px;
    float:left;
    width:12px;
    margin-top:5px;
}

.member_info_title
{
    float:left;
    font-family:tahoma;
    margin-top:12px;
    margin-bottom:12px;
    color:#3380CC;
    width:400px;
    font-size:16px;
}

.member_information
{
    width:670px;
    height:250px;
    float:left;
}

.member_info
{
    width:650px;
    height:250px;
    float:left;
    border-style:solid;
    border-radius:5px;
    border-width:2px;
    border-color:#3380CC;
}

.member_profile
{
    float:left;
    width:618px;
    padding-top:22px;
    padding-left:14px;
    padding-right:14px;
    padding-bottom:22px;
    border-style:solid;
    border-radius:5px;
    border-width:2px;
    border-color:#3380CC
}

.profile_frame
{
    float:left;
    width:144px;
    height:164px;
    border-style:solid;
    border-width:1px;
    border-color:#636363;
    display:table-cell;
}

.profile_picture
{
    padding-top:5px;
    padding-left:6px;
    width:132px;
    height:154px;
}

.profile_text
{
    float:left;
    width:448px;
    margin-left:17px;
    display:table-cell;
    font-size:9pt;
    font-family:"Verdana, Arial, Helvetica, sans-serif";

}

.profile_intro
{
    float:left;
    width:431px;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:13px;
    border-style:solid;
    border-width:1px;
    border-color:#dedede;
    border-radius:2px;
    box-shadow:1px 1px 1px #888888;
}

.profile_name
{
    font-weight:bold;
}

.profile_pos
{
}

.profile_edu
{
    float:left;
    width:446px;
    margin-top:20px;
    font-family:Tahoma;
}

.profile_work
{
    float:left;
    width:446px;
    margin-top:20px;
    font-family:Tahoma;
}

.profile_exp_title
{
    font-size:13px;
    font-weight:bold;
    color: royalblue;
    padding-bottom:8px;
}

.profile_e
{
    display:table-row;
}

.profile_w
{
    display:table-row;
}

.profile_cell
{
    display:table-cell;
}

.profile_date
{
    width:121px;
}

.profile_content
{
    width:325px;
}

.member_list
{
    margin-top:40px;
    margin-bottom:20px;
    font-family: Tahoma;
    float:left;
    width:670px;
    height:400px;
    overflow-y:scroll;
}

.generation_title
{
    margin-top:40px;
}

.generation_name
{
    float:left;
    color:#3380CC;
    font-size:16px;
}

.generation
{
    display:table;
}

.member_title
{
    margin-top:10px;
}

.member
{
    float:left;
    display:table-row;
    font-size:9pt;
    font-family:"Verdana, Arial, Helvetica, sans-serif";
    padding-top:10px;
    padding-bottom:10px;
}

.table_cell
{
    float:left;
    display:table-cell;
    text-align:center;
}

.member_picture
{
    float:left;
    height:38px;
    width:52px;
    padding-right:6px;
    cursor: pointer;
}

.member_name
{
    text-align:initial;
    float:left;
    width:152px;
    padding-right:4px;
    padding-top:12px;
}

.member_major
{
    float:left;
    width:303px;
    padding-right:1px;
    padding-top:12px;
    text-align:initial;
}

.member_status
{
    float:left;
    width:132px;
    padding-top:12px;
}

.member_line
{
    float:left;
    height:1px;
    width:650px;
    background-color:#dedede;
    margin-left:0px;
}
