#process
{
    margin-bottom:50px;
}

.download
{
    width:177px;
    height:48px;
    background-color:#105D96;
    border-radius:10px;
    color:white;
    box-shadow:2px 2px 2px 2px #dedede;
    cursor:pointer;
    clear:both;
    margin:auto;
    margin-bottom:10px;
}

.download p
{
    text-align:center;
    line-height:48px;
}

.faq_title
{
    float:left;
    width:727px;
    background-color: #F8F8F9;
    height:30px;
    text-align:-webkit-center;
    border-top:2px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.faq_title_col
{
    display: table-column;
    float:left;
    font-family:Tahoma;
    font-size:9pt;
    border-right:1px solid #E6E6E6;
    padding-top:7px;
    padding-bottom:7px;
}

.faq_title_id
{
    width:50px;
}

.faq_title_text
{
    width:463px;
}

.faq_title_writer
{
    width:100px;
}

.faq_title_date
{
    width:60px;
}

.faq_title_click
{
    width:50px;
}

.faq_list
{
    margin-left:53px;
    float:left;
}

.question
{
    display:table-row;
    font-family:Tahoma;
    font-size:9pt;
}

.question_col
{
    margin-top:7px;
    margin-bottom:7px;
    display:table-column;
    float:left;
    border-right:1px dashed white;
}

.question_id
{
    color:#222222;
    width:50px;
    text-align:center;
}

.question_text
{
    color:#466C8A;
    width:453px;
    padding-left:10px;
}

.question_text_q
{
    cursor:pointer;
}

.question_writer
{
    width:100px;
    text-align:center;
}

.question_date
{
    width:60px;
    text-align:center;
}

.question_click
{
    width:50px;
    text-align:center;
}

.question_answer
{
    width:665px;
    font-family:Tahoma;
    font-size:9pt;
    color:#0070c0;
    padding-left:62px;
    padding-top:5px;
    padding-bottom:5px;
}

.question_line
{
    width:727px;
    height:1px;
    background-color:#E6E6E6;
}
