<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Chalk</title>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/layout.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/default.css" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/layout.js"></script>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <img id="logo" src="{{MEDIA_URL}}image/layout/logo.gif">
            <p class="menu">ABOUT KFAC</p>
            <p class="menu">ABOUT KFAC</p>
            <p class="menu">ABOUT KFAC</p>
            <p class="menu">ABOUT KFAC</p>
            <p class="menu">ABOUT KFAC</p>
        </div>
        <div id="container">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
        </div>
    </body>
</html>
