<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>KFAC</title>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/default.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/layout.css" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/layout.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/default.js"></script>
        {% block header %}{% endblock %}
        <script>
            $(document).ready(function(){
                var height = parseInt($('#container').height())-100;
                var header_height = parseInt($('#header').height());
                if(header_height < height)
                    $('#header').css('height', height+'px');
                {% ifequal menu 'main' %}
                $('#account-bar').css('right', '45px');
                {% endifequal %}
            });
        </script>
    </head>
    <body>
        <div id="header">
            <img id="logo" src="{{MEDIA_URL}}image/layout/logo.gif" onclick="window.location='/'">
            <!-- about -->
            <p class="menu{% ifequal menu 'about' %} selected{% endifequal %}" onclick="window.location='/about/'">ABOUT KFAC</p>
            {% ifequal menu 'about' %}
            <p class="submenu{% ifequal submenu 'greetings' %} sselected {% endifequal %}" onclick="window.location='/about/greetings/'">GREETINGS</p>
            <p class="submenu{% ifequal submenu 'vision' %} sselected {% endifequal %}" onclick="window.location='/about/vision/'">VISION</p>
            <p class="submenu{% ifequal submenu 'organization' %} sselected {% endifequal %}" onclick="window.location='/about/organization/'">ORGANIZATION</p>
            <p class="submenu{% ifequal submenu 'achievements' %} sselected {% endifequal %}" onclick="window.location='/about/achievements/'">ACHIEVEMENTS</p>
            {% endifequal %}

            <!-- activities -->
            <p class="menu{% ifequal menu 'activities' %} selected{% endifequal %}" onclick="window.location='/activities/'">ACTIVITIES</p>

            <!-- people -->
            <p class="menu{% ifequal menu 'people' %} selected{% endifequal %}" onclick="window.location='/people/'">PEOPLE</p>

            <!-- recruiting -->
            <p class="menu{% ifequal menu 'recruiting' %} selected{% endifequal %}" onclick="window.location='/recruiting/'">RECRUITING</p>
            {% ifequal menu 'recruiting' %}
            <p class="submenu{% ifequal submenu 'require' %} sselected {% endifequal %}" onclick="window.location='/recruiting/requirements/'">REQUIRE</p>
            <p class="submenu{% ifequal submenu 'process' %} sselected {% endifequal %}" onclick="window.location='/recruiting/process/'">PROCESS</p>
            <p class="submenu{% ifequal submenu 'faq' %} sselected {% endifequal %}" onclick="window.location='/recruiting/faq/'">FAQ</p>
            {% endifequal %}

            <!-- only -->
            <p class="menu{% ifequal menu 'only' %} selected{% endifequal %}" onclick="window.location='/only/'">KFACIAN-ONLY</p>
        </div>
        <div id="account-bar">
            <img class="account_button" src="{{MEDIA_URL}}image/layout/home.gif" onclick="window.location='/'">
            <img class="account_button" src="{{MEDIA_URL}}image/layout/login.gif" onclick="newWindow('/account/login_window/',668,320);">
            <img class="account_button" src="{{MEDIA_URL}}image/layout/join.gif" onclick="newWindow('/account/join/',765,850);">
            <img class="account_button" src="{{MEDIA_URL}}image/layout/id_password_lost.gif" onclick="newWindow('/account/id_password_lost/',300,300);">
        </div>
        <div id="container">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <img src="{{MEDIA_URL}}image/layout/footer.gif">
            <div id="cyworld" onclick="window.location='http://club.cyworld.com/clubV1/Home.cy/51553637'"></div>
            <div id="facebook" onclick="window.location='http://www.facebook.com/pages/KFAC-KAIST-Financial-Analysis-Club/171559606288773'"></div>
        </div>
    </body>
</html>
