<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>KFAC</title>
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/layout.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/default.css" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script language="javascript" src="{{ MEDIA_URL }}js/layout.js"></script>
        {% block header %}{% endblock %}
        <script>
            function newWindow(url,width,height)
            {
                window.open(url,'_blank','width='+width+',height='+height+',toolbar=no,menubar=no');
            }
        </script>
    </head>
    <body>
        <div id="header">
            <img id="logo" src="{{MEDIA_URL}}image/layout/logo.gif">
            <p class="menu selected" onclick="/about/">ABOUT KFAC</p>
            <p class="submenu selected">GREETINGS</p>
            <p class="submenu">ABCD</p>
            <p class="submenu">ABCD</p>
            <p class="submenu">ABCD</p>
            <p class="menu" onclick="/activities/">ACTIVITIES</p>
            <p class="menu" onclick="/people/">PEOPLE</p>
            <p class="menu" onclick="/recruiting/">RECRUITING</p>
            <p class="menu" onclick="/only/">KFACIAN-ONLY</p>
        </div>
        <div id="account-bar">
            <img class="account_button" src="{{MEDIA_URL}}image/layout/home.gif" onclick="window.location='/'">
            <img class="account_button" src="{{MEDIA_URL}}image/layout/login.gif" onclick="newWindow('/account/login_window/',300,300);">
            <img class="account_button" src="{{MEDIA_URL}}image/layout/join.gif" onclick="newWindow('/account/join/',300,300);">
            <img class="account_button" src="{{MEDIA_URL}}image/layout/id_password_lost.gif" onclick="newWindow('/account/id_password_lost/',300,300);">
        </div>
        <div id="container">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <img src="{{MEDIA_URL}}image/layout/footer.gif">
            <div id="cyworld" onclick="window.location='http://club.cyworld.com/clubV1/Home.cy/51553637'"></div>
            <div id="facebook" onclick="window.location='http://www.facebook.com/pages/KFAC-KAIST-Financial-Analysis-Club/171559606288773'"></div>
        </div>
    </body>
</html>
