{% extends 'layout.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="greeting" style="margin-top:49px;margin-left:41px;float:left;width:750px;">
    <p style="float:left;text-transform:capitalize;width:750px;line-height:53px;font-size:23pt;color:gray;">{{ submenu }}</p>
    <div style="float:left;width:750px;height:1px;background:gray;"></div>
    <div id="achievements" style="margin-top:120px;">
    <div id="blue_line" style="margin-bottom:25px;float:left;background-color:#648AA2;width:750px;height:2px;"></div>
    {% for g in groups %}
    <div id="type" style="float:left;width:750px">
        <div id="name" style="padding-left:10px;padding-top:3px;width:120px;height:24px;background-image:url('{{MEDIA_URL}}image/about/background.png')" ><font size="2.5" color="white">{{g.name}}</font></div><br/>
    <font size="2"><div id="text_left" style="width:375px;float:left"><pre>{{g.text_left}}</pre></div>
            <div id="text_right" style="width:375px;float:left"><pre>{{ g.text_right }}</pre></div><br/></font>
</div>
<img src="{{MEDIA_URL}}image/about/dotted_line.png" width="750" height="36" style="float:left;">
    {% endfor %}
    {% if group_last != None %}
    <div id="type" style="float:left;width:750px">
    <div id="name" style="padding-left:10px;padding-top:3px;width:120px;height:24px;background-image:url('{{MEDIA_URL}}image/about/background.png')"><font size="2.5" color="white">{{group_last.name}}</font></div><br/>
    <font size="2"><div id="text_left" style="width:375px;float:left"><pre>{{group_last.text_left}}</pre></div>
            <div id="text_right" style="width:375px;float:left"><pre>{{ group_last.text_right }}</pre></div><br/></font>
</div>
    {% endif %}
    <div id="blue_line" style="margin-top:25px;margin-bottom:20px;float:left;background-color:#648AA2;width:750px;height:2px;"></div>

    </div>
</div>
{% if user.is_superuser %}
<div id="edit_link" style="margin-left:41px;float:left;width:750px;">
<a href="/about/edit/">Edit Contents</a><br/>
<a href="/about/add/">Add New Type</a>
</div>
{% endif %}
{% endblock %}
