{% extends 'layout.html' %}
{% block header %}
{% endblock %}
{% block content %}
<div id="greeting" style="margin-top:49px;margin-left:41px;float:left;width:750px;height:1451px">
    <p style="float:left;text-transform:capitalize;width:750px;line-height:53px;font-size:23pt;color:gray;">{{ submenu }}</p>
    <div style="float:left;width:750px;height:1px;background:gray;"></div>
    <img src="{{MEDIA_URL}}image/about/sub01_12.gif" width="750" height="1398" style="float:left;">
</div>
{% endblock %}
