{% extends 'layout.html' %}
{% block header %}
<script language="javascript" src="{{ MEDIA_URL }}js/ckeditor/ckeditor.js"></script>
<script language="javascript" src="{{ MEDIA_URL }}js/ckeditor/styles.js"></script>
<script language="javascript" src="{{ MEDIA_URL }}js/only.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/only.css" />
<script>
    $(document).ready(function(){
        board_num = {{ board_num|safe }};
    });
</script>
{% endblock %}
{% block content %}
<div style="float:left;margin-top:49px;margin-left:41px;width:750px">
    <p style="float:left;text-transform:capitalize;width:750px;line-height:53px;font-size:23pt;color:gray;">{{ submenu }}</p>
    <div style="float:left;width:750px;height:1px;background:gray;"></div>
    <table id="board">
        <tr>
            <th style="width:50px;"><p>번호</p></th>
            <th style="width:40px"></th>
            <th style="width:387px"><p>제 목</p></th>
            <th style="width:110px"><p>글쓴이</p></th>
            <th style="width:90px"><p>날짜</p></th>
            <th style="width:50px"><p>조회</p></th>
        </tr>
        {% for article in articles %}
        <tr {% if forloop.counter0|divisibleby:2 %}class="even_tr"{% endif %}>
            <td><p>{{ forloop.revcounter }} </p></td>
            <td><input id="{{ article.id }}" type="checkbox" name="check{{ forloop.revcounter }}"></td>
            <td class="title"><p onclick="window.location='/only/board/{{ board_num }}/read/?article_num={{ article.id }}'">{{ article.title }}</p></td>
            <td class="writer"><p>{{ article.author }}</p></td>
            <td><p>{{ article.created|date:"Y-m-d" }}</p></td>
            <td><p>{{ article.read }}</p></td>
        </tr>
        {% endfor %}
    </table>
    <div id="bottom">
        <img id="delete" src="{{ MEDIA_URL }}image/only/btn_select_delete.gif" onclick="delSelect()">
        <img id="write" src="{{ MEDIA_URL }}image/only/btn_write.gif" onclick="window.location='/only/board/{{ board_num }}/write/'">
    </div>
</div>
{% endblock %}
