{% extends 'layout.html' %}
{% block header %}
<script language="javascript" src="{{ MEDIA_URL }}js/only.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/only.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}js/ckeditor/contents.css" />
<script>
    function adjustHeight(){
        $('#header')[0].style.height = $('#container')[0].clientHeight+'px';
    }
    $(document).ready(function(){
        adjustHeight();
        board_num = {{ board_num|safe }};
    });
</script>
{% endblock %}
{% block content %}
<div style="float:left;margin-top:49px;margin-left:41px;width:750px">
    <p style="float:left;text-transform:capitalize;width:750px;line-height:53px;font-size:23pt;color:gray;">{{ submenu }}</p>
    <div style="float:left;width:750px;height:1px;background:gray;"></div>
    <div id="read">
        <img id="date-icon" src="{{ MEDIA_URL }}image/only/icon_date.gif">
        <p id="date">작성일 : {{ article.created|date:"Y-m-d, h:m" }}</p>
        <img class="right_btn" src="{{ MEDIA_URL }}image/only/btn_write.gif" onclick="window.location='/only/board/{{ board_num }}/write/'">
        <img class="right_btn" src="{{ MEDIA_URL }}image/only/btn_delete.gif" onclick="delArticle({{ article.id }});">
        <img class="right_btn" src="{{ MEDIA_URL }}image/only/btn_modify.gif" onclick="window.location='/only/board/{{ board_num }}/write/?article_num={{ article.id }}'">
        <img class="right_btn" src="{{ MEDIA_URL }}image/only/btn_list.gif" onclick="window.location='/only/board/{{ board_num }}/'">
        <p id="title">{{ article.title }}</p>
        <div class="block">
            <p id="writer-title">글쓴이 : </p>
            <p id="writer">{{ article.author }}</p>
            <p id="read-count">조회 : {{ article.read }}</p>
            <img id="read-count-img" src="{{ MEDIA_URL }}image/only/icon_view.gif">
        </div>
        <div id="article-content">
            {% autoescape off %}
            {{ article.contents }}
            {% endautoescape %}
        </div>
        <div class="comment_box">
            <div class="top">
                <p class="comment_writer">정희재</p>
                <p class="comment_date">13-09-12 01:26</p>
                <img src="{{ MEDIA_URL }}image/only/co_btn_delete.gif">
                <img src="{{ MEDIA_URL }}image/only/co_btn_modify.gif">
            </div>
            <pre class="comment_content">ㄴㅇ리ㅏㅓㄴㅇ린아ㅓㄴㅇㄹ</pre>
        </div>
        <div id="comment-write-box">
            <textarea id="comment"></textarea>
            <img id="write" src="{{ MEDIA_URL }}image/only/co_btn_write.gif">
        </div>
        <img id="date-icon" src="{{ MEDIA_URL }}image/only/icon_date.gif">
        <p id="date">작성일 : {{ article.created|date:"Y-m-d, h:m" }}</p>
        <img class="right_btn" src="{{ MEDIA_URL }}image/only/btn_write.gif" onclick="window.location='/only/board/{{ board_num }}/write/'">
        <img class="right_btn" src="{{ MEDIA_URL }}image/only/btn_delete.gif" onclick="delArticle({{ article.id }});">
        <img class="right_btn" src="{{ MEDIA_URL }}image/only/btn_modify.gif" onclick="window.location='/only/board/{{ board_num }}/'">
        <img class="right_btn" src="{{ MEDIA_URL }}image/only/btn_list.gif" onclick="window.location='/only/board/{{ board_num }}/'">
    </div>
</div>
{% endblock %}
