{% extends 'layout.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/activities.css" />
<script>
    function handleFileSelect(evt){
        var f = evt.target.files[0];

        // image type 인가 검사
        if(!f.type.match('image.*')){
            alert("image file이 아닙니다.");
            window.location='/activities/edit/';
        }
    }
    $(document).ready(function(){
        document.getElementById("image").addEventListener("change", handleFileSelect, false);
    });
</script>
{% endblock %}
{% block content %}
<div id="edit-activities">
    <p id="title">edit</p>
    <div class="line"></div>
    <div id="edit">
        <table id="content">
            <tr id="submenu-title">
                <td class="name bold">메뉴 이름</td>
                <td class="button">위로</td>
                <td class="button">아래로</td>
                <td class="button">지우기</td>
            </tr>
            {% for activity in activities %}
            <tr class="submenu">
                <td class="name">{{ activity.name }}</td>

                {% if forloop.counter == 1 %}
                <td class="button no_click_up"></td>
                {% else %}
                <td class="button up" onclick="window.location='/activities/up/{{ forloop.counter|add:"-1" }}/'"></td>
                {% endif %}

                {% if forloop.counter == activities|length %}
                <td class="button no_click_down"></td>
                {% else %}
                <td class="button down" onclick="window.location='/activities/down/{{ forloop.counter|add:"-1" }}/'"></td>
                {% endif %}

                <td class="button del" onclick="window.location='/activities/del/{{ forloop.counter|add:"-1" }}/'"></td>
            </tr>
            {% endfor %}
        </table>
        <form action="/activities/add/" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <table id="add-menu">
                <tr>
                    <td colspan=2 class="title">[ 메뉴 추가 ]</td>
                </tr>
                <tr>
                    <td class="name">메뉴 이름</td>
                    <td><input type="text" name="name"></td>
                </tr>
                    <td class="name">이미지 (가로 750px)</td>
                    <td><input id="image" type="file" name="image"></td>
                <tr>
                    <td colspan=2><input type="submit"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
