{% extends 'layout.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/people.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}js/people.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
			people.initialize();
			});
</script>
{% endblock %}
{% block content %}
<div id="people_content">
<h1>Member Information</h1>
<div class="member_information">
	<div class="member_info">
	</div>
</div>
<br>
<div class="member_list">
</div>
{% endblock %}
