{% extends 'layout.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/people.css"/>
<script type="text/javascript" src="{{MEDIA_URL}}js/people.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
			people.initialize();
			});
</script>
{% endblock %}
{% block content %}
<div id="people_content" style="margin-top:49px;margin-left:41px;float:left;">
	<img src="{{MEDIA_URL}}image/people/sub03_10.gif" width="750" height="53" style="float:left;">
</div>
<br><br>
<div class="people">
	<div class="member_info_title">
		<img class="people_image" src="{{MEDIA_URL}}image/people/sub03_01.png">
		Member Information
	</div>
	<div class="member_information">
		<div class="member_info">
		</div>
	</div>
	<br>
	<div class="member_list">
	</div>
</div>
{% endblock %}
